@model SalesRepositoryWeb.Models.OrderFilter


<div>
    @using (Ajax.BeginForm("ApplyFilter", new AjaxOptions { UpdateTargetId = "salesTable" }))
    {
        @Html.AntiForgeryToken()
        <table class="table">
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(model => model.ProductName)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.ProductName)
                    </div>
                    <div>
                        @Html.LabelFor(model => model.CustomerLastname)
                    </div>
                    <div>
                        @Html.EditorFor(model => model.CustomerLastname)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Поиск" />
                    <input type="button" id="clear" value="Сброс" />
                </td>
                <td>
                </td>
            </tr>
        </table>
    }
    <div id="salesTable">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        getSales();
    });
    $("#clear").on("click", function () {
        $('#ProductName').val('');
        $('#CustomerLastname').val('');
  
        clearFilter();
    });
    function getSales() {
        jQuery.ajax(
            {
                url: "@Url.Action("Sales", "Sales")",
                data: { page:@ViewBag.CurrentPage},
                type: "GET",
                success: function (data) {
                    jQuery("#salesTable").html(data);
                },
                dataType: "html"
            }
        );
    }
    function clearFilter() {
        jQuery.ajax(
            {
                url: "@Url.Action("ClearFilter", "Sales")",
                type: "GET",
                success: function (data) {
                    jQuery("#salesTable").html(data);
                },
                dataType: "html"
            }
        );
    }
</script>
@{

}